[Desktop Entry]
Version=1.0
Name=Terminal
GenericName=Terminal Emulator
Comment=Use the command line
Exec=zenith-terminal
Icon=utilities-terminal-symbolic
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
StartupNotify=true
